.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-neutral-200);
}

.moon-icon-container {
  width: 1.8rem;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
