.controll-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-500);
  padding: 0.8rem 1rem;
  border-radius: 0 0 0.3rem 0.3rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

.controll-bar button {
  background: inherit;
  font: inherit;
  border: none;
}

.clear-completed-btn {
  cursor: pointer;
}
