@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --clr-primary-blue: hsl(220, 98%, 61%);
  --clr-check-bg: linear-gradient(
    130deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-300: hsl(236, 33%, 92%);
  --clr-neutral-400: hsl(233, 11%, 84%);
  --clr-neutral-500: hsl(236, 9%, 61%);
  --clr-neutral-600: hsl(235, 19%, 35%);
  --clr-neutral-700: hsl(235, 24%, 19%);
  --clr-neutral-800: hsl(240, 20%, 12%);
}

.dark-theme {
  --clr-neutral-200: var(--clr-neutral-800);
  --clr-neutral-100: var(--clr-neutral-700);
  --clr-neutral-600: white;
  --clr-neutral-400: var(--clr-neutral-500);
  --clr-neutral-300: var(--clr-neutral-500);
}

/* Andy Bell's css reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: var(--clr-neutral-600);
  background-color: var(--clr-neutral-200);
  /* animate dark theme */
  transition: all 500ms ease;
}
